<form (ngSubmit)="ajouterPatrimoineImmobilier()">
  <h3>Patrimoine Immobilier:</h3>

  <h4>Biens d'usage :</h4>

  <label for="residence_principale">Résidence Principale:</label>
  <input id="residence_principale" [(ngModel)]="patrimoineImmobilier.residence_principale" name="residence_principale">

  <label for="residences_secondaires">Résidences Secondaires:</label>
  <input id="residences_secondaires" [(ngModel)]="patrimoineImmobilier.residences_secondaires" name="residences_secondaires">

  <label for="autres_biens_usage">Autres:</label>
  <input id="autres_biens_usage" [(ngModel)]="patrimoineImmobilier.autres_biens_usage" name="autres_biens_usage">

  <h4>Biens de rapport :</h4>

  <label for="immeubles_locatifs">Immeubles Locatifs:</label>
  <input id="immeubles_locatifs" [(ngModel)]="patrimoineImmobilier.immeubles_locatifs" name="immeubles_locatifs">

  <label for="biens_pro">Biens Professionnels:</label>
  <input id="biens_pro" [(ngModel)]="patrimoineImmobilier.biens_pro" name="biens_pro">

  <label for="sci">SCI:</label>
  <input id="sci" [(ngModel)]="patrimoineImmobilier.sci" name="sci">

  <label for="autres_biens_rapport">Autres:</label>
  <input id="autres_biens_rapport" [(ngModel)]="patrimoineImmobilier.autres_biens_rapport" name="autres_biens_rapport">

  <h4>Financements en cours :</h4>

  <label for="date_debut">Date début assurance de prêt:</label>
  <input id="date_debut" [(ngModel)]="patrimoineImmobilier.date_debut" name="date_debut">

  <label for="date_fin">Date fin assurance de prêt:</label>
  <input id="date_fin" [(ngModel)]="patrimoineImmobilier.date_fin" name="date_fin">

  <label for="taeg">TAEG:</label>
  <input id="taeg" [(ngModel)]="patrimoineImmobilier.taeg" name="taeg">

  <label for="crd">CRD:</label>
  <input id="crd" [(ngModel)]="patrimoineImmobilier.crd" name="crd">

  <button type="submit">Ajouter</button>
</form>

