<div class="container">
  <form>
    <div class="form-group">
      <label for="profession">Profession</label>
      <input type="text" class="form-control" id="profession" [(ngModel)]="profession">
    </div>
    
    <div class="form-group">
      <label for="statut">Statut</label>
      <select class="form-control" id="statut" [(ngModel)]="selectedStatut">
        <option *ngFor="let statut of statuts">{{ statut }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="annees_activite">Années d'activité</label>
      <input type="number" class="form-control" id="annees_activite" [(ngModel)]="carriereProfessionnelle.annees_activite">
    </div>

    <div class="form-group">
      <label for="revenu_moyen">Revenu moyen</label>
      <input type="number" class="form-control" id="revenu_moyen" [(ngModel)]="carriereProfessionnelle.revenu_moyen">
    </div>

    <div class="form-group">
      <label for="chiffre_affaire">Chiffre d'affaire</label>
      <input type="number" class="form-control" id="chiffre_affaire" [(ngModel)]="carriereProfessionnelle.chiffre_affaire">
    </div>

    <div class="form-group">
      <label for="charges_pro">Charges professionnelles</label>
      <input type="number" class="form-control" id="charges_pro" [(ngModel)]="carriereProfessionnelle.charges_pro">
    </div>

  </form>
</div>

