<form (ngSubmit)="ajouterGarantiesEtRevenus()">
  <h3>Garanties de Prévoyance:</h3>

  <label for="temporaire_deces">Temporaire décès:</label>
  <input id="temporaire_deces" type="checkbox" [(ngModel)]="garantiesEtRevenus.temporaire_deces" name="temporaire_deces">
  
  <label for="vie_entiere_deces">Vie entière décès:</label>
  <input id="vie_entiere_deces" type="checkbox" [(ngModel)]="garantiesEtRevenus.vie_entiere_deces" name="vie_entiere_deces">

  <label for="arret_travail">Arrêt de travail:</label>
  <input id="arret_travail" type="checkbox" [(ngModel)]="garantiesEtRevenus.arret_travail" name="arret_travail">

  <label for="invalidite">Invalidité:</label>
  <input id="invalidite" type="checkbox" [(ngModel)]="garantiesEtRevenus.invalidite" name="invalidite">

  <label for="sante">Santé:</label>
  <input id="sante" type="checkbox" [(ngModel)]="garantiesEtRevenus.sante" name="sante">

  <label for="dependance">Dépendance:</label>
  <input id="dependance" type="checkbox" [(ngModel)]="garantiesEtRevenus.dependance" name="dependance">

  <label for="retraite">Retraite:</label>
  <input id="retraite" type="checkbox" [(ngModel)]="garantiesEtRevenus.retraite" name="retraite">

  <label for="etude_enfants">Étude et installation des enfants:</label>
  <input id="etude_enfants" type="checkbox" [(ngModel)]="garantiesEtRevenus.etude_enfants" name="etude_enfants">

  <label for="gav">GAV:</label>
  <input id="gav" type="checkbox" [(ngModel)]="garantiesEtRevenus.gav" name="gav">

  <label for="obseques">Obsèques:</label>
  <input id="obseques" type="checkbox" [(ngModel)]="garantiesEtRevenus.obseques" name="obseques">

  <label for="pj">PJ:</label>
  <input id="pj" type="checkbox" [(ngModel)]="garantiesEtRevenus.pj" name="pj">

  <h3>Types de Revenus:</h3>

  <label for="traitement_salaires">Traitement et salaires:</label>
  <input id="traitement_salaires" type="number" [(ngModel)]="garantiesEtRevenus.traitement_salaires" name="traitement_salaires">
  
  <label for="bnc">BNC:</label>
  <input id="bnc" type="number" [(ngModel)]="garantiesEtRevenus.bnc" name="bnc">

  <label for="bic">BIC:</label>
  <input id="bic" type="number" [(ngModel)]="garantiesEtRevenus.bic" name="bic">

  <label for="agricole">Agricole:</label>
  <input id="agricole" type="number" [(ngModel)]="garantiesEtRevenus.agricole" name="agricole">

  <label for="pension_retraite">Pension retraite:</label>
  <input id="pension_retraite" type="number" [(ngModel)]="garantiesEtRevenus.pension_retraite" name="pension_retraite">

  <h3>Informations fiscales:</h3>

  <label for="residence_fiscale">Résidence fiscale:</label>
  <input id="residence_fiscale" [(ngModel)]="garantiesEtRevenus.residence_fiscale" name="residence_fiscale">
  
  <label for="facta">FACTA:</label>
  <input id="facta" [(ngModel)]="garantiesEtRevenus.facta" name="facta">
  
  <button type="submit">Ajouter</button>
</form>

