<table class="patrimoine-table">
  <thead>
    <tr>
      <th rowspan="2">Produits détenus</th>
      <th rowspan="2">Date d'ouverture</th>
      <th rowspan="2">Organisme</th>
      <th rowspan="2">Encours</th>
      <th rowspan="2">Détenu par</th>
      <th rowspan="2">Rendement Net</th>
      <th rowspan="2">Versement Régulier</th>
      <th colspan="2">Objectif</th>
    </tr>
  </thead>
  <tbody>
    <tbody>
  <!-- Catégorie Générale: Biens d'usages -->
    <tr>
    <td colspan="16" class="category-header">Court terme</td>
    </tr>
    <!-- Biens d'usages: Résidence Principale -->
    <tr>
      <td>Livret A</td>
      <td><input type="date"></td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td>
        <select>
          <option>M.</option>
          <option>Mme</option>
          <option>M. et Mme</option>
          <option>Enfants</option>
          <option>Indivision</option>
        </select>
      </td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td><input type="text"></td>
    </tr>
    <!-- Biens d'usages: Résidence secondaire -->
    <!-- (Structure similaire à la précédente, répétée pour chaque catégorie et sous-catégorie) -->
    <tr>
      <td>Livret B</td>
      <td><input type="date"></td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td>
        <select>
          <option>M.</option>
          <option>Mme</option>
          <option>M. et Mme</option>
          <option>Enfants</option>
          <option>Indivision</option>
        </select>
      </td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td>CSL</td>
      <td><input type="date"></td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td>
        <select>
          <option>M.</option>
          <option>Mme</option>
          <option>M. et Mme</option>
          <option>Enfants</option>
          <option>Indivision</option>
        </select>
      </td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td>LDD</td>
      <td><input type="date"></td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td>
        <select>
          <option>M.</option>
          <option>Mme</option>
          <option>M. et Mme</option>
          <option>Enfants</option>
          <option>Indivision</option>
        </select>
      </td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td>Autres</td>
      <td><input type="date"></td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td>
        <select>
          <option>M.</option>
          <option>Mme</option>
          <option>M. et Mme</option>
          <option>Enfants</option>
          <option>Indivision</option>
        </select>
      </td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td>CEL</td>
      <td><input type="date"></td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td>
        <select>
          <option>M.</option>
          <option>Mme</option>
          <option>M. et Mme</option>
          <option>Enfants</option>
          <option>Indivision</option>
        </select>
      </td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td>CAT...</td>
      <td><input type="date"></td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td>
        <select>
          <option>M.</option>
          <option>Mme</option>
          <option>M. et Mme</option>
          <option>Enfants</option>
          <option>Indivision</option>
        </select>
      </td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td><input type="text"></td>
    </tr>
    <tr>
    <td colspan="16" class="category-header">Compte titre</td>
    </tr>
    <!-- Biens d'usages: Résidence Principale -->
    <tr>
      <td>Monétaire</td>
      <td><input type="date"></td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td>
        <select>
          <option>M.</option>
          <option>Mme</option>
          <option>M. et Mme</option>
          <option>Enfants</option>
          <option>Indivision</option>
        </select>
      </td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td><input type="text"></td>
    </tr>
    <!-- Biens d'usages: Résidence secondaire -->
    <!-- (Structure similaire à la précédente, répétée pour chaque catégorie et sous-catégorie) -->
    <tr>
      <td>Obligations</td>
      <td><input type="date"></td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td>
        <select>
          <option>M.</option>
          <option>Mme</option>
          <option>M. et Mme</option>
          <option>Enfants</option>
          <option>Indivision</option>
        </select>
      </td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td>Actions</td>
      <td><input type="date"></td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td>
        <select>
          <option>M.</option>
          <option>Mme</option>
          <option>M. et Mme</option>
          <option>Enfants</option>
          <option>Indivision</option>
        </select>
      </td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td>FCPI/FIP</td>
      <td><input type="date"></td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td>
        <select>
          <option>M.</option>
          <option>Mme</option>
          <option>M. et Mme</option>
          <option>Enfants</option>
          <option>Indivision</option>
        </select>
      </td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td><input type="text"></td>
    </tr>
    <tr>
    <td colspan="16" class="category-header">PEA</td>
    </tr>
    <!-- Biens d'usages: Résidence Principale -->
    <tr>
      <td><input type="text"></td>
      <td><input type="date"></td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td>
        <select>
          <option>M.</option>
          <option>Mme</option>
          <option>M. et Mme</option>
          <option>Enfants</option>
          <option>Indivision</option>
        </select>
      </td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td><input type="text"></td>
    </tr>
    <!-- Biens d'usages: Résidence secondaire -->
    <!-- (Structure similaire à la précédente, répétée pour chaque catégorie et sous-catégorie) -->
    <tr>
    <td colspan="16" class="category-header">Assurance-vie / Bon ou contrat de Capi</td>
    </tr>
    <!-- Biens d'usages: Résidence Principale -->
    <tr>
      <td><input type="text"></td>
      <td><input type="date"></td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td>
        <select>
          <option>M.</option>
          <option>Mme</option>
          <option>M. et Mme</option>
          <option>Enfants</option>
          <option>Indivision</option>
        </select>
      </td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td><input type="text"></td>
      <td><input type="date"></td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td>
        <select>
          <option>M.</option>
          <option>Mme</option>
          <option>M. et Mme</option>
          <option>Enfants</option>
          <option>Indivision</option>
        </select>
      </td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td><input type="text"></td>
      <td><input type="date"></td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td>
        <select>
          <option>M.</option>
          <option>Mme</option>
          <option>M. et Mme</option>
          <option>Enfants</option>
          <option>Indivision</option>
        </select>
      </td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td><input type="text"></td>
      <td><input type="date"></td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td>
        <select>
          <option>M.</option>
          <option>Mme</option>
          <option>M. et Mme</option>
          <option>Enfants</option>
          <option>Indivision</option>
        </select>
      </td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td><input type="text"></td>
    </tr>
    <!-- Biens d'usages: Résidence secondaire -->
    <!-- (Structure similaire à la précédente, répétée pour chaque catégorie et sous-catégorie) -->
      <!-- Catégorie Générale: Biens d'usages -->
    <tr>
    <td colspan="16" class="category-header">Divers</td>
    </tr>
    <!-- Biens d'usages: Résidence Principale -->
    <tr>
      <td>PEP Banque</td>
      <td><input type="date"></td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td>
        <select>
          <option>M.</option>
          <option>Mme</option>
          <option>M. et Mme</option>
          <option>Enfants</option>
          <option>Indivision</option>
        </select>
      </td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td><input type="text"></td>
    </tr>
        <tr>
      <td>PEE</td>
      <td><input type="date"></td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td>
        <select>
          <option>M.</option>
          <option>Mme</option>
          <option>M. et Mme</option>
          <option>Enfants</option>
          <option>Indivision</option>
        </select>
      </td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td><input type="text"></td>
    </tr>
        <tr>
      <td>Stock Option</td>
      <td><input type="date"></td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td>
        <select>
          <option>M.</option>
          <option>Mme</option>
          <option>M. et Mme</option>
          <option>Enfants</option>
          <option>Indivision</option>
        </select>
      </td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td><input type="text"></td>
    </tr>
        <tr>
      <td>Compte-Courant d'associés</td>
      <td><input type="date"></td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td>
        <select>
          <option>M.</option>
          <option>Mme</option>
          <option>M. et Mme</option>
          <option>Enfants</option>
          <option>Indivision</option>
        </select>
      </td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td><input type="text"></td>
    </tr>
        <tr>
      <td>Autres</td>
      <td><input type="date"></td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td>
        <select>
          <option>M.</option>
          <option>Mme</option>
          <option>M. et Mme</option>
          <option>Enfants</option>
          <option>Indivision</option>
        </select>
      </td>
      <td><input type="number"></td>
      <td><input type="number"></td>
      <td><input type="text"></td>
    </tr>
  </tbody>
</table>

